<section class="hero">
    <div div="toto">
      <img class="bg-introMobile" src="assets/bg-intro-mobile.svg">
      <img class="image-mockupMobile" src="assets/image-mockups.png">
    </div>
    <div class="hero-body is-flex">
      <div class="container">
          <div>
            <h1 class="title">
                Next generation <br> digital banking
              </h1>
              <h2 class="subtitle">
                  Take your financial life online. Your Easybank account will be a one-stop-shop 
                  for spending, saving, budgeting, investing, and much more.          
              </h2>
              <app-button></app-button>
          </div> 
      </div>
    </div>
</section>

<div class="has-background-white-dark"> 
  <img class="bg-intro" src="assets/bg-intro-desktop.svg">
  <img class="image-mockup" src="assets/image-mockups.png">
</div>