
.hero
    padding-bottom: 15rem

.hero-body .container
    margin-top: 5rem
    margin-left: 7rem
    

.hero-body .title
    font-size: 3rem
    margin-bottom: 3rem
    
.hero-body .subtitle
    width: 30rem

.bg-intro
    margin-top: -59rem
    margin-left: 43rem

.image-mockup
    margin-top: -60rem
    margin-left: 55.3rem