.navbar-menu
 
    padding-top: 1rem
    padding-left: 7rem
    padding-right: 8rem
    
    
.navbar-start 
    margin: auto
    width: 22rem
  
.navbar-item 
    padding-bottom: 1rem

.navbar-start .navbar-item:hover
    color: black
    background-color: white
    border-bottom: 4.5px solid
    border-image-source: linear-gradient(to right, #31cf6e, #2bb9cd)
    border-image-slice: 1

.navbar-end 
    border:0px


//Mobile 
@media (max-width: 640px) 
    #navbarMobile
        margin-top: 1.5rem
        margin-left: auto
        margin-right: auto
        width: 20rem

    app-button
        color: red
        display: none
   
