.card 
    margin-right: 2rem
    width: 20rem
    box-shadow: none
    background-color: #ffffff

.card-content .title
    font-size: 1.4rem
    

.title:hover
    color: #2ecd79
   
.card-content .subtitle 
    margin-top: 0.90rem